.headline:link    {
    text-decoration:  none;
    font-weight:      bold;
    color:            white;
}

.headline:visited {
    text-decoration:  none;
    font-weight:      bold;
    color:            white;
}

.headline:hover   {
    text-decoration:  underline;
    font-weight:      bold;
    color: white;
}

.headline:active  {
    text-decoration:  underline;
    font-weight:      bold;
    color: white;
} 

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1551803021-acd2b133c879?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    color: white;
    height: 400px;
}

.top-title {
    margin-top: 100px;
}

.sub-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}

.empty-articles {
    background-color: orange;
    padding: 0px;
    height: 100px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
}

.modal-header {
    background-color: #428bca;
    color: white;
}

.comment-box {
    width: 100%;
    height: 100px;
}

.comment {
    color: #428bca;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    word-wrap: break-word;
}

.deletecomment {
    font-color: black;
    float: right;
    margin-right: 5px;
}

.close {
    color: white;
    opacity: 1;
}